body {
    background-color: #6C91BF;
    font-family: 'Quicksand', sans-serif;
}

.heading-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 24px;
    color: #AF2BBF;
}

.result-wrapper {
    display: flex;
    flex-wrap: wrap; /* to help with responsiveness, flex items will break into multiple lines */
    justify-content: center;
    width: 100%;
}

.result-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin-right: 20px;
    font-size: 24px;
    color: #fff;
}

.result-row {
    display: flex;
    justify-content: space-evenly;
    width: 330px;
}